<div class="copyright-adjustment">
  <div *ngIf="loading; else showEventDetails" class="spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <ng-template #showEventDetails>
    <div class="main-container">
      <mat-card class="event-info-card">
        <div class="nav-buttons">
          <button mat-icon-button color="primary" (click)="backClicked()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <h1 class="event-title">{{ event?.title }}</h1>
        <div class="info-wrapper" *ngIf="event?.date">
          <div class="icon">
            <mat-icon>calendar_today</mat-icon>
          </div>
          <div class="info">
            <span class="subheader" *ngIf="event?.date">{{
              event?.date | date: "fullDate"
            }}</span>
            <br />
            <span class="time" *ngIf="event?.startTime">
              {{ event?.startTime }}
              <span *ngIf="event?.endTime"> to {{ event?.endTime }}</span>
            </span>
          </div>
        </div>

        <div class="info-wrapper">
          <div class="icon" *ngIf="venue">
            <mat-icon>location_on</mat-icon>
          </div>
          <div class="info" *ngIf="venue">
            <span class="venue-name" *ngIf="venue?.name">
              {{ venue?.name }}
            </span>

            <span *ngIf="venue?.url">
              <br />
              <b class="website-title">Venue Website: </b>
              <a href="{{ venue?.url }}" target="_new">Website</a>
            </span>

            <span class="venue-address" *ngIf="venue?.streetAddress">
              <br />
              <span *ngIf="venue?.streetAddress">{{
                venue?.streetAddress
              }}</span>
              <span *ngIf="venue?.city">
                {{ venue?.city }}
              </span>
              <span *ngIf="venue?.city && venue?.state">, </span>
              {{ venue?.state }} {{ venue?.postalCode }}
            </span>
            <span
              *ngIf="venue?.streetAddress || venue?.city || venue?.postalCode"
            >
              <br />
              <a
                href="https://www.google.com/maps/place/
                {{ venue?.streetAddress }}+
                {{ venue?.city }}+
                {{ venue?.postalCode }}"
                target="_new"
                >Get Directions
              </a>
            </span>
          </div>
        </div>

        <div class="info-wrapper" *ngIf="event?.coverFee">
          <div class="icon">
            <mat-icon>attach_money</mat-icon>
          </div>
          <div class="info">
            <span class="subheader">Cover Fee</span>
            <br />
            <span
              class="description"
              *ngIf="event?.coverFee && typeOfCoverFee === 'number'"
            >
              {{ event?.coverFee | currency }}
            </span>
            <span
              class="description"
              *ngIf="event?.coverFee && typeOfCoverFee === 'string'"
            >
              {{ event?.coverFee }}
            </span>
          </div>
        </div>

        <div
          class="info-wrapper"
          *ngIf="event?.description || event?.genre || event?.url"
        >
          <div class="icon">
            <mat-icon>description</mat-icon>
          </div>
          <div class="info">
            <span class="subheader">About</span>
            <br />
            <span class="description" *ngIf="event?.genre">
              <b id="genre">Genre: </b>{{ event?.genre }}
              <br />
            </span>

            <span *ngIf="event?.url"
              ><b class="website-title">Event website: </b>
              <a href="{{ event?.url }}" target="_new" class="event-website"
                >Website</a
              >
              <br />
            </span>

            <span class="description">{{ event?.description }}</span>
          </div>
        </div>

        <div class="info-wrapper" *ngIf="performer">
          <div class="icon">
            <mat-icon>person</mat-icon>
          </div>
          <div class="info">
            <span class="subheader" *ngIf="performer">
              Performer
              <br />
            </span>
            <span
              class="description performer-name"
              *ngIf="performer?.firstName && performer?.lastName"
            >
              {{ performer?.firstName }} {{ performer?.lastName }}
            </span>
            <span class="description" *ngIf="performer?.instrumentOfChoice">
              ({{ performer?.instrumentOfChoice }})
            </span>
            <br />
            <span class="description" *ngIf="performer?.bio">
              <b>Bio:</b> {{ performer?.bio }}
            </span>
          </div>
        </div>

        <div class="info-wrapper">
          <div class="icon">
            <mat-icon>link</mat-icon>
          </div>
          <div class="info">
            <span class="subheader">Share</span>
            <br />
            <span class="event-url">
              <a href="{{ baseUrl }}/event-overview/{{ event?.id }}">
                {{ baseUrl }}/event-overview/{{ event?.id }}</a
              >
            </span>
            <!-- <br />
          <button mat-flat-button color="primary">Copy URL</button> -->
          </div>
        </div>
      </mat-card>
    </div>

    <div id="fab-button-wrapper">
      <div id="fab-button">
        <button
          class="extended-fab-button"
          mat-fab
          color="primary"
          [disabled]="
            this.event?.status === 'completed' ||
            this.event?.status === 'cancelled'
          "
          (click)="navigateToRequests(event?.id)"
        >
          <span class="fab-button-text"> Join Event </span>
        </button>
      </div>
    </div>
  </ng-template>
</div>
<app-copyright></app-copyright>
