<ng-container *transloco="let t; read: 'requests'">

  <div id="event-title-banner" *ngIf="event">
    <span class="event-title" *ngIf="event.title">{{ event.title }}</span><br>
    <span class="venue-name" *ngIf="event.venue">{{ event.venue }}</span>
  </div>

  <div *ngIf="(eventStatus === 'created') || (eventStatus === 'completed'); else activeEvent" class="mat-app-background">
    <p *ngIf="eventStatus === 'created'" class="body-text">This event has not started yet. Check back later.</p>
    <p *ngIf="eventStatus === 'completed'" class="body-text">This event has ended.</p>
  </div>

  <ng-template #activeEvent>
    <div [class.largeScreenDisplay]="isLargeScreen" class="mat-app-background">

      <!-- Now Playing Request -->
      <div *ngIf="currentlyPlaying; else selectNextSong" class="sticky" [class.largeScreenChild]="isLargeScreen">
        <mat-card class="mat-elevation-z0 outline" [class.cardSmallScreen]="isSmallScreen" [class.cardLargeScreen]="isLargeScreen">
          <mat-card-title>{{ t('now playing') }}</mat-card-title>
          <mat-card-subtitle class="now-playing-subtitle">{{ nowPlayingRequest.song }} {{ t('by') }} {{ nowPlayingRequest.artist }}</mat-card-subtitle>
          <!-- <mat-card-content>{{ nowPlayingRequest.amount | currency }}</mat-card-content>  -->
        </mat-card>
      </div>

      <!-- Shows if no song is currently playing -->
      <ng-template #selectNextSong>
        <div>
          <!-- {{ t('no current song playing message') }} -->
        </div>
      </ng-template>

      <h3 [class.largeScreenChild]="isLargeScreen" class="request-subheader" mat-subheader>{{ t('up next') }}</h3>
      <mat-list [class.largeScreenChild]="isLargeScreen">

        <!-- message displays when there are no requests for the event -->
        <div class="no-requests-message" *ngIf="noRequestsMessage">{{ t('no requests yet message') }}</div>
        
        <!-- Shows list of accepted requests -->
        <app-request-details mat-list-item 
          [song]="request.song" 
          [artist]="request.artist" 
          [amount]="request.amount"
          [status]="request.status" 
          *ngFor="let request of acceptedRequests; index as i">

          <!-- top up button for requests -->
          <button topUpButton mat-icon-button class="request-button" color="primary" (click)="openDialog(t('top up dialog title'), request.id, request.song, request.artist)">
            <mat-icon>add_circle</mat-icon>
          </button>

        </app-request-details>
      </mat-list>
    </div>

    <!-- Add new request button -->
    <div id="fab-button-wrapper" *ngIf="(eventStatus === 'paused') || (eventStatus === 'active')">
      <div id="fab-button">
        <button class="extended-fab-button" mat-fab color="primary" [disabled]="eventStatus !== 'active'" (click)="openDialog(t('new request dialog title'))">
          <!-- Button message if event is active -->
          <mat-icon *ngIf="eventStatus === 'active'">add</mat-icon>
          <span class="fab-button-text" *ngIf="eventStatus === 'active'">{{ t('make request fab active') }}</span>
          <!-- Button message if event is paused -->
          <span class="fab-button-text" *ngIf="eventStatus === 'paused'">{{ t('make request fab paused') }}</span>
        </button>
      </div>
    </div>

  </ng-template>
</ng-container>