<ng-container *transloco="let t; read: 'requests'">

  <mat-toolbar>
    <mat-toolbar-row>
      <h1>{{ t('title') }}</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- disablePagination will not work in current version of angular material-->
  <mat-tab-group disablePagination="true" mat-align-tabs="center">
    <mat-tab class="tab-label" label="Accepted">
      <ng-template matTabContent>
        <div [class.largeScreenDisplay]="isLargeScreen">
          <h3 [class.largeScreenChild]="isLargeScreen" class="request-subheader" mat-subheader>{{ t('now playing') }}
          </h3>
          <div *ngIf="nowPlayingRequest.currentlyPlaying; else selectNextSong" [class.largeScreenChild]="isLargeScreen">
            <app-request-details [song]="nowPlayingRequest.song" [artist]="nowPlayingRequest.artist"
              [amount]="nowPlayingRequest.amount" [status]="nowPlayingRequest.status">
              <button endSongButton mat-flat-button class="request-button" color="accent" (click)="endCurrentSong()">End
                song</button>
            </app-request-details>
          </div>
          <ng-template #selectNextSong>
            <div>{{ t('no current song playing message') }}
            </div>
          </ng-template>

          <h3 [class.largeScreenChild]="isLargeScreen" class="request-subheader" mat-subheader>{{ t('up next') }}</h3>
          <mat-list [class.largeScreenChild]="isLargeScreen">
            <app-request-details mat-list-item [song]="request.song" [artist]="request.artist" [amount]="request.amount"
              [status]="request.status" *ngFor="let request of requestsService.acceptedRequests; index as i">

              <button rejectButton mat-button class="request-button" color="warn"
                (click)="openDialog(i, 'acceptedRequests')">{{ t('Reject') }}</button>
              <button playNextButton mat-flat-button class="request-button" color="primary"
                (click)="playNext(i)">{{ t('play next') }}</button>

            </app-request-details>
          </mat-list>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Pending">
      <ng-template matTabContent>
        <div [class.largeScreenDisplay]="isLargeScreen">
          <h3 [class.largeScreenChild]="isLargeScreen" class="request-subheader" mat-subheader>
            {{ t('pending requests') }}</h3>
          <mat-list [class.largeScreenChild]="isLargeScreen">
            <app-request-details mat-list-item [song]="request.song" [artist]="request.artist" [amount]="request.amount"
              [status]="request.status" *ngFor="let request of requestsService.pendingRequests; index as i">

              <!-- Had to remove the following line to test if it works:
                          *ngIf="status === 'pending'" -->
              <button acceptButton mat-icon-button class="request-button" (click)="acceptRequest(i)">
                <mat-icon color="primary" class="request-button-icon">done</mat-icon>
              </button>

              <button rejectButton mat-icon-button class="request-button" (click)="openDialog(i, 'pendingRequests')">
                <mat-icon color="warn" class="request-button-icon">clear</mat-icon>
              </button>
            </app-request-details>
          </mat-list>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <!-- <div id="fab-button-wrapper">
    <div id="fab-button">
      <button class="extended-fab-button" mat-fab color="primary">
        <span>{{ t('play next') }}</span>
      </button>
    </div>
  </div> -->

</ng-container>