@import "src/styles.scss";

.copyright-adjustment {
  display: flex;
  min-height: calc(
    100% - 21px
  ); // 56 is bottom nav and the rest for accounting for the copyright paragraph height
}

.stream {
  width: 60vw;
  padding: 2.5%;
  min-width: 60vw;
  align-self: center;
}

.request-queue {
  width: 100vw;
}

.request-queue-with-stream {
  width: 40vw;
  padding-right: 2.5%;
}

// 953px makes the app-request-details look too squished
@media screen and (max-width: 953px) {
  .copyright-adjustment {
    flex-direction: column;
  }
  .stream {
    width: 100vw;
  }

  .request-queue-with-stream {
    width: 100vw;
    padding-right: 0%;
  }
}

.event-title-banner {
  display: flex;
  justify-content: center;
}

.event-title-banner-paused {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#new-request-button {
  align-self: center;
  margin-left: -40px;
}

#paused-message {
  color: $accent;
  margin: 0px;
}

.event-title {
  font-size: large;
  font-weight: bold;
  padding-top: 1px;
}

mat-tab-group {
  height: calc(100% - 60.5px);
}

.request-subheader {
  padding-top: 0px;
  padding-bottom: 0px;
}

.largeScreenDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.largeScreenChild {
  width: 100%;
  max-width: 700px;
}

.body-text {
  padding: 50px;
  margin: 0px;
  text-align: center;
}

.end-of-event-message {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 99;
  margin: 20px 10px;
  height: 100px;
}

.outline {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 4px 4px -2px #23232319;
}

.now-playing-subtitle {
  font-size: 16px;
  margin-top: 10px !important;
}

.no-requests-message {
  margin: 20px;
}

.button-prompt-color {
  color: $primary;
}

mat-list {
  padding-bottom: 0px;
}

mat-list.requests-present {
  padding-bottom: 100px;
}

mat-icon.top-up-icon {
  margin-right: -6px;
  margin-left: -4px;
}

button.top-up-button {
  box-shadow: none !important;
}

.liked {
  background-color: $primary;

  mat-icon {
    color: white !important;
    // animation happens every time new requests are polled so disabled for now
    // animation: scale ease-in-out 200ms alternate !important;
  }
}

@keyframes scale {
  0% {
    transform: none;
  }

  100% {
    transform: scale(1.2, 1.2);
  }
}
