@import "src/styles.scss";

.cancel-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.mat-tab-container {
  padding-top: 15px !important;
}

.mat-tab-list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 402px) {
  .mat-tab-label {
    font-size: 12px !important;
  }
  .mat-ink-bar {
    width: 127px !important;
    margin-left: -2px !important;
  }
}

.amount-field {
  margin-bottom: 2% !important;
}

@media screen and (max-width: 414px) {
  .added-margin-bottom {
    margin-bottom: 6% !important;
  }
}

#free-request-prompt {
  color: $primary;
}

#tip-amount-prompt {
  color: $primary;
}

.anonymous-tip-prompt {
  color: $primary;
}

.mat-hint-space {
  margin-bottom: 2% !important;
}

#dollar-symbol-spacing {
  padding-right: 2px;
}

#merchant-acknowledgement-checkbox {
  position: relative;
}

#merchant-acknowledgement-prompt {
  color: $primary;
  margin-left: 1.4em;
  bottom: 18px;
  position: relative;
  display: inline-block;
}

#payment-prompt {
  color: $primary;
  padding-top: 5%;
}

#tip-merchant-prompt {
  color: $accent;
  margin-top: 0px;
  margin-bottom: 15px;
}

#payment-prompt-warning {
  color: $accent;
}

.form-card {
  display: flex;
}

mat-form-field {
  width: 100%;
  margin-top: 2px;
}

.is-error {
  color: $warn;
  animation: fadeIn ease-in-out 400ms;
}

.amount-error {
  margin-bottom: 25px !important;
}

.stepper-buttons {
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.top-up-form {
  padding: 5%;
  animation: fadeIn ease-in-out 400ms;
}

@media screen and (min-width: 400px) {
  .name-input {
    width: 50%;
  }
}

.top-up-song {
  color: $accent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    display: none;
  }
}

#page1 {
  animation: fadeIn ease-in-out 400ms;
}

#page2 {
  animation: fadeIn ease-in-out 400ms;
}

.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

.reviewText {
  opacity: 0.7;
  text-transform: uppercase;
  font-size: small;
  margin-right: 4px;
  line-height: 2;
}

div.spinner {
  animation: fadeIn ease-in-out 400ms;
  height: 200px;
  justify-content: center;
  display: flex;
  overflow: hidden;

  mat-spinner {
    align-self: center;
  }
}

.is-success {
  animation: fadeIn ease-in-out 400ms;
}
