.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-card {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 400px;
    margin: 10px;
}

mat-form-field {
    padding: 10px;
    width: 90%;
}

.is-error {
    color: rgb(157, 0, 0);
}