<ng-container *transloco="let t; read: 'make request'">
  <h1 mat-dialog-title>{{ title }}</h1>
  <mat-dialog-content>
      <div *ngIf="errorMsg && errorMessage" class="notification is-error">
        {{ errorMsg }}
    </div>
    <form [formGroup]="requestForm" (ngSubmit)="submitHandler()">
      <mat-vertical-stepper #stepper>
    <!-- Step 1 -->
        <mat-step label="{{ t('song details step label') }}">

          <!-- Song title input -->
          <mat-form-field>
            <mat-label>{{ t('song label') }}</mat-label>
            <input matInput formControlName="song" required>
            <mat-error *ngIf="song.invalid && song.touched">
              {{ t('song input error msg') }}
            </mat-error>
          </mat-form-field>
          <!-- Artist name input -->
          <mat-form-field>
            <mat-label>{{ t('artist label') }}</mat-label>
            <input matInput formControlName="artist" required>
            <mat-error *ngIf="artist.invalid && artist.touched">
              {{ t('artist input error msg') }}
            </mat-error>
          </mat-form-field>
          <!-- Next button -->
          <div>
            <button mat-button matStepperNext type="button">{{ t('next button') }}</button>
          </div>
        </mat-step>

    <!-- Step 2 -->
        <mat-step label="{{ t('memo tip step label') }}" optional>
          <!-- Tip amount input -->
          <mat-form-field>
            <mat-label>{{ t('tip label') }}</mat-label>
            <input matInput type="string" formControlName="amount" required>
            <span matPrefix>$</span>
            <!-- <mat-error *ngIf="amount.invalid">
              Must be at least 6 characters long and contain at least one letter and one number
            </mat-error> -->
          </mat-form-field>
          <!-- Memo input -->
          <mat-form-field>
            <mat-label>{{ t('memo label') }}</mat-label>
            <textarea matInput formControlName="memo"></textarea>
          </mat-form-field>
          <!-- Prev and Next buttons -->
          <div>
            <button mat-button matStepperPrevious type="button">{{ t('back button') }}</button>
            <button mat-button matStepperNext type="button">{{ t('next button') }}</button>
          </div>
        </mat-step>

    <!-- Step 3 -->
    <!-- These will not clear on reset() until the inputs are attached to the formGroup using the formControlName property -->
        <mat-step label="{{ t('user info step label') }}">
          <!-- First name input -->
          <mat-form-field>
            <mat-label>{{ t('first name label') }}</mat-label>
            <input matInput required>
              <!-- <mat-error *ngIf="firstname.touched">
                Cannot be blank
              </mat-error> -->
          </mat-form-field>
          <!-- Last name input -->
          <mat-form-field>
            <mat-label>{{ t('last name label') }}</mat-label>
            <input matInput required>
            <!-- <mat-error *ngIf="lastname.invalid && lastname.touched">
              Cannot be blank
            </mat-error> -->
          </mat-form-field> 
          <!-- Prev and Next buttons -->
          <div>
            <button mat-button matStepperPrevious type="button">{{ t('back button') }}</button>
            <button mat-button matStepperNext type="button">{{ t('next button') }}</button>
          </div>
        </mat-step>

    <!-- Step 4 / Done -->
        <mat-step label="{{ t('submit step label') }}">
          <div *ngIf="success" class="notification is-success">
            {{ t('form success message') }}
          </div>
          <div *ngIf="loading === false; else progressBar">
            <button class="form-submit-button" mat-raised-button color="primary" type="submit"
                [disabled]="requestForm.invalid || loading === true">{{ t('submit button') }}</button>
            <!-- Prev and Reset buttons -->
            <div>
              <button mat-button matStepperPrevious type="button">{{ t('back button') }}</button>
              <button mat-button type="button" (click)="stepper.reset();requestForm.reset()">{{ t('reset button') }}</button>
            </div>
          </div>

          <ng-template #progressBar>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </ng-template>

        </mat-step>
      </mat-vertical-stepper>
    </form>
  </mat-dialog-content>
</ng-container>