<!-- <ng-container *transloco="let t; read: 'make request'"> -->
    <h1 mat-dialog-title>Create Request</h1>
<mat-dialog-content>
  <div *ngIf="errorMsg && errorMessage" class="notification is-error">
    {{ errorMsg }}
</div>
<form [formGroup]="requestForm" (ngSubmit)="submitHandler()">
  <mat-vertical-stepper>

<!-- Step 1 -->
    <mat-step label="Song Details">
      <!-- Song title input -->
      <mat-form-field>
        <input matInput placeholder="Song title" formControlName="song" required>
        <mat-error *ngIf="song.invalid && song.touched">
          Song name cannot be blank
        </mat-error>
      </mat-form-field>
      <!-- Artist name input -->
      <mat-form-field>
        <input matInput placeholder="Artist" formControlName="artist" required>
        <mat-error *ngIf="artist.invalid && artist.touched">
          Artist name cannot be blank
        </mat-error>
      </mat-form-field>
      <!-- Next button -->
      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

<!-- Step 2 -->
    <mat-step label="Memo" optional>
      <!-- Memo input -->
      <mat-form-field>
        <textarea matInput placeholder="Memo" formControlName="memo"></textarea>
      </mat-form-field>
      <!-- Prev and Next buttons -->
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

<!-- Step 3 -->
    <mat-step label="Your Information">
      <!-- First name input -->
      <mat-form-field>
        <input matInput placeholder="First name">
          <!-- <mat-error *ngIf="firstname.invalid && firstname.touched">
            Cannot be blank
          </mat-error> -->
      </mat-form-field>
      <!-- Last name input -->
      <mat-form-field>
        <input matInput placeholder="Last name">
        <!-- <mat-error *ngIf="lastname.invalid && lastname.touched">
          Cannot be blank
        </mat-error> -->
      </mat-form-field> 
      <!-- Prev and Next buttons -->
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

<!-- Step 4 / Done -->
    <mat-step label="Submit">
      <div *ngIf="success" class="notification is-success">
        Yay! We received your submission.
      </div>
      <div *ngIf="loading === false; else progressBar">
        <button class="form-submit-button" mat-raised-button color="primary" type="submit"
            [disabled]="requestForm.invalid || loading === true">Submit</button>
        <!-- Prev and Reset buttons -->
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </div>

      <ng-template #progressBar>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-template>

    </mat-step>
  </mat-vertical-stepper>
</form>
</mat-dialog-content>