<ng-container *transloco="let t">
  <mat-toolbar color="primary" role="navigation" aria-label="Bottom">
    <a
      routerLink="event/{{ eventService.currentEventId }}"
      routerLinkActive="active-link"
      mat-icon-button
      disableRipple="true"
      *ngIf="eventService.currentEventId"
    >
      <mat-icon>queue_music</mat-icon>
      <span>{{ t("requests.title") }}</span>
    </a>
    <a
      routerLink="events"
      routerLinkActive="active-link"
      mat-icon-button
      disableRipple="true"
    >
      <mat-icon>event</mat-icon>
      <span>{{ t("events") }}</span>
    </a>
    <a
      routerLink="history"
      routerLinkActive="active-link"
      mat-icon-button
      disableRipple="true"
    >
      <mat-icon>account_circle</mat-icon>
      <span>Account</span>
    </a>
  </mat-toolbar>
</ng-container>
