<mat-card class="mat-elevation-z0 outline" [class.cardSmallScreen]="isSmallScreen"
  [class.cardLargeScreen]="isLargeScreen">
  <div id="request-info-wrapper" [class.requestInfoSmallScreen]="isSmallScreen">
    <span class="song-name mat-body-strong truncate">{{ song }}</span>
    <p class="artist-name mat-body truncate">{{ artist }}</p>
  </div>
  <div id="tip-and-buttons" [class.actionsSmallScreen]="isSmallScreen">
    <div id="amount-wrapper">
      <span class="tip-amount">${{ amount }}</span>
    </div>
    <div id="buttons-wrapper">
      <ng-content select="[topUpButton]"></ng-content>
    </div>
  </div>
</mat-card>
