<mat-card class="mat-card-container mat-elevation-z0" color="accent">
  <!-- <img mat-card-image src="../assets/images/test-image.png" alt="" class="image"> -->
  <!-- <div class="image" (click)="navToEvent()"></div> -->
  <div class="date-container" (click)="navToEvent()">
    <span class="date" (click)="navToEvent()">
      {{ event?.date | date: "MMM d" }}
    </span>
  </div>
  <mat-card-content class="info" (click)="navToEvent()">
    <span class="title">
      {{ event?.title }}
    </span>
    <div *ngIf="venue">
      <span class="venue">{{ venue?.name }}</span>
    </div>
    <div *ngIf="event.date">
      <span class="venue full-date">
        {{ event?.date | date: "EEE, MMM d, " }}
        {{ event?.date | date: "shortTime" }}
      </span>
    </div>
  </mat-card-content>
  <button mat-icon-button color="primary" (click)="addFavorite()">
    <mat-icon>{{ eventFavored }}</mat-icon>
  </button>
</mat-card>
