@import "src/styles.scss";
mat-dialog-content {
  word-wrap: break-word;
}
div.eula-agreement {
  height: 350px;
  overflow-y: auto;
}
p.end-user-license-agreement-prompt {
  color: $primary;
}

p.end-user-license-agreement-accept-prompt {
  color: $accent;
}

div.dialog-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 3%;
}

button.form-submit-button {
  margin-top: 2%;
}

.hide {
  display: none;
}

div.spinner {
  animation: fadeIn ease-in-out 400ms;
  height: 200px;
  justify-content: center;
  display: flex;
  overflow: hidden;

  mat-spinner {
    align-self: center;
  }
}

.is-error {
  color: $warn;
  animation: fadeIn ease-in-out 400ms;
}

a {
  color: $primary;
}
