.list {
  height: calc(100% - 90px);
  overflow-x: hidden;

  .events {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  max-height:90px;
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
    margin-left: calc((100vw - 100%)/2);
}

@media screen and (min-width: 700px) {
  .header {
    width: 700px;
    margin: 0 auto;
  }
  .list {
    mat-list {
      width: 700px;
      margin: 0 auto;
    }
  }
}

mat-form-field {
  margin: 2px;
  width: 80%;
}

mat-menu button{
  margin: 2px;
}